*{
    background-color: darkgray;
}
.calculator{
    position: absolute;
    top: 20%;
    left: 40%;
    width: 370px;
    height: 460px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: hsl(0,0%,15%);
    border: solid hsl(0,0%,15%);
    border-radius: 14px;
}
.display_input input{
    position: absolute;
    top: 9%;
    left: 0;
    width: 360px;
    height: 110px;
    background-color: hsl(0,0%,30%);
    border:solid hsl(0,0%,30%);
    color: white;
    font-size: 50px;
}
.display_result input{
    position: absolute;
    top:35%;
    left: 0%;
    width: 360px;
    height: 55px;
    background-color: hsl(0,0%,20%);
    border:solid hsl(0,0%,20%);
    color: white;
    font-size: 30px;
}
.keys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    padding: 4px;
    position: absolute;
    top: 50%;
    background-color: hsl(0,0%,15%);
}
.calclute_function{
    background-color: hsl(0,0%,25%);
    border:solid hsl(0,0%,25%);
}

.equals{
    background-color: orange;
    border:solid orange;
    grid-row: span 3;
    height: 85px;
}
button{
    width: 67px;
    height: 40px;
    background-color: hsl(0,0%,30%);
    color: white;
    border-radius: 6px;
    border: solid hsl(0,0%,30%);
    font-weight: bold;
    font-size: 15px;
}
.calculate:hover{
    background-color: hsl(0,0%,35%);
    border: solid hsl(0,0%,35%);
}
.calclute_function:hover{
    background-color: hsl(0,0%,30%);
    border: solid hsl(0,0%,30%);
}
.equals:hover{
    background-color: hsl(35,100%,65%);
    border:solid hsl(35,100%,65%);
}